section, .list-container {
  color: white;
  display: flex;
}

section {
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
}

.list-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  min-height: 200px;
  padding: 15px;
  border: 1px solid white;
  border-radius: 15px;
  gap: 15px;
}
