@import '../../../styles.scss';

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  padding: 0 15px;
  background-color: #3f51b5;

  .logo-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  h2 {
    color: white;
    margin: 0px;
  }
}

nav {
  display: flex;
  align-items: center;
  gap: 15px;
}
