<form [formGroup]="userForm" (ngSubmit)="addClient()">
  <div class="form-control">
    <label for="name">Nome</label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div class="form-control">
    <label for="email">Email</label>
    <input id="email" type="text" formControlName="email">
  </div>

  <div class="form-control">
    <label for="password">Senha</label>
    <input id="password" type="text" formControlName="password">
  </div>

  <div class="form-control">
    <label for="age">Idade</label>
    <input id="age" type="text" formControlName="age">
  </div>

  <div class="form-control">
    <label for="cpf">CPF</label>
    <input id="cpf" type="text" formControlName="cpf" mask="000.000.000-00">
  </div>

  <button type="submit">Adicionar Cliente</button>
</form>
